.footer {
    padding: 1em 0;
    width: 100%;
    background-color: #823329;
    color: #BFB8AD;
    font-size: small;
}

.footer-container {
    display: flex;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
}

.contact-us, .preschool-hours, .indoor-hours {
    padding: 0em 1em;
    flex: 1;
}

.contact-us a {
    color: #BFB8AD;
    text-decoration: none;
}
