.footer {
    padding: 1em 0;
    width: 100%;
    background-color: var(--contrast);
    color: var(--text-contrast);
    font-size: small;
}

.footer-container {
    display: flex;
    gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
    
}

.contact-us, .preschool-hours, .indoor-hours {
    padding: 0em 1em;
    flex: 1;
}

.contact-us a {
    color: var(--text-contrast);
    text-decoration: none;
    transition: 0.2s ease;
}

.contact-us a:hover {
    /* color: var(--text-primary); */
    text-decoration: underline;
}


