.form {
    background-color: var(--form-primary);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn {
    align-self: start;
    border: 3px solid var(--form-secondary);
    color: var(--form-text-primary);
    font-weight: bold;
    font-size: larger;
    background-color: var(--form-primary);
}

.btn:hover {
    background-color: var(--form-contrast);
    color: var(--form-text-contrast);
}