.nav-link {
  color: var(--text-primary) !important;
}

.nav-link:hover {
  color: var(--text-contrast) !important;
  text-decoration: underline;
}

.nav-link.active {
  color: var(--text-secondary) !important;
}