body {
    background-color: grey;
    display: flex;
    flex-direction: column;
    color: darkgray;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    border: 1px solid blue;
    height: 100vh;
}

