body {
    background-color: grey;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    color: darkgray;
    height: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.content {
    margin-top: none;
    border: 1px solid blue;
}

