body {
    background-color: blue;
}

.body {
    background-color: red;
    display: flex;
    flex-direction: column;
    color: darkgray;
    height: auto;
    min-height: 100vh;
}

.content {
    padding-top: 1em;
    flex-grow: 1;
}

