:root {
    --primary: #EEF7FB;
    --secondary: #72188B;
    --contrast: #72188B;
    --text-primary: #011627;
    --text-secondary: #72188B;
    --text-contrast: #EECBF6;
    --form-primary: #EECBF6;
    --form-secondary: #EEF7FB;
    --form-contrast: #72188B;
    --form-text-primary: #fff;
    --form-text-contrast: #000;
    background-color: var(--primary);
    color: var(--text-contrast)
}

a {
    cursor: pointer;
}

.body {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    height: auto;
    min-height: 100vh;
}

.content {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    flex-grow: 1;
}

.homeLogo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeLogo img {
    width: 25em;
    height: auto;
}

.vsmall {
    font-size: xx-small;
    font-weight: bold;
}

.main {
    display: flex;
    margin-bottom: 3em;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
}

.contact-left, .contact-right {
    flex: 1;
    padding: 1em;
}

.contact-left a {
    color: var(--text-primary);
    text-decoration: none;
}

.contact-left a:hover {
    text-decoration: underline;
}

.gmaps {
    display: flex;
    justify-content: center;
    align-self: center;
}

.header {
    z-index: 2;
}

.accordion {
    z-index: 1;
}

.accordion-item {
    background-color: var(--form-primary);
}

.accordion-button {
    background-color: var(--form-primary);
    color: var(--text-secondary);
}

.accordion-button:focus {
    background-color: var(--form-primary);
    color: var(--text-secondary);
}

.accordion-button.collapsed {
    background-color: var(--form-primary);
    color: var(--text-secondary);
}

.accordion-button:not(.collapsed) {
    background-color: var(--form-primary);
    color: var(--text-secondary);
    box-shadow: none;
}

.accordion-body {
    background-color: var(--form-primary);
    color: var(--text-secondary);
}

.accordion-body a {
    color: var(--text-secondary);
    text-decoration: none;
}

.accordion-body a:hover {
    text-decoration: underline;
}